body {
    font-family: Arial, sans-serif;
    padding: 0px;
}

#container-experience {
    margin-left: 200px!important;
    margin-right: 200px!important;
}

.divider {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Selector tipo enlace cursor para elemento con el id "banregio"  */
a#banregio, a#accenture, a#freelance {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* smooth scroll */
html {
    scroll-behavior: smooth;
}

/* sticky header to the element "nav" */
#navbar {
    top: 0;
    z-index: 1000;
    padding: 10px 50px;
}

/* color of the each option in the navbar */
a.nav-link {
    color: #3bc771;
}

a.nav-link:hover {
    color: #8eff72;
}

/* Space ".divider-header" to show the next section after the header" */
.cover {
    margin-top: 70px;
}

#experience {
    margin-top: 70px;
}

/* show elements with class "card" when are scrolling down and show an animation appearing from the bottom */
.col > .card {
    opacity: 0;
    transform: translateY(50px);
    transition: all 2.6s ease-out;
}

.col > .card.show {
    opacity: 1;
    transform: translateY(0);
}


/* bounce animation in class imagen-principal */
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
        transform: translateY(0);
    }
    40% {
        transform: translateY(-30px);
    }
    60% {
        transform: translateY(-15px);
    }
}